.selectStyle {
    font-weight: bold;
  }
  .select-input {
    @apply relative;
    select {
      color: var(--color);
      background-color: var(--background);
      border-radius: 25px;
      @apply md:px-4 px-3 focus:outline-none font-bold cursor-pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      option {
        @apply font-semibold lg:text-base text-xs;
        &:disabled {
          @apply text-gray-500;
        }
        &:focus,
        &:checked,
        &:hover {
          color: white;
          background-color: var(--color) !important;
        }
      }
    }
    .round-remove {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .select-toggle {
      color: #ffffff;
      background: var(--caretBg);
      @apply absolute top-[0.35rem] right-[0.9rem] pointer-events-none;
      svg {
        @apply text-2xl;
      }
      padding-left: 3px;
    }
    select option:checked {
      background: linear-gradient(#d6d6d6, #d6d6d6);
      background-color: dodgerblue !important; /* for IE */
      color: white !important;
    }
    // select option:disabled {
    //   color: var(--color) !important;
    //   font-weight: bold;
    // }
  }
  select.searchPageScrollWidth::-webkit-scrollbar {
    width: 2px;
  }
  select.searchPageScrollStyle::-webkit-scrollbar-track {
    background-color: #5b5fcc;
  }
  select.searchPageScrollStyle::-webkit-scrollbar-thumb {
    background-color: #5b5fcc;
  }
  .label-design {
    position: absolute;
    left: 12px;
    top: 8px;
    opacity: 0.5;
  }
  .showSelect option:checked {
    opacity: 0.5;
  }
  .showSelect option:selected {
    opacity: 0.5;
  }
  @media (min-height: 540px) and (max-height: 703px) and (min-width: 768px) {
    .textInput {
      height: 36px !important;
      padding-top: 4px !important;
    }
    .toggleButton {
      height: 16px !important;
      top: 3px !important;
    }
  }
  