@tailwind base;
@tailwind components;
@tailwind utilities;

/* for page */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* for layout  */
.my-layouts-enter-active,
.my-layouts-leave-active {
  transition: opacity 0.5s ease;
}
.my-layouts-enter-from,
.my-layouts-leave-to {
  opacity: 0;
}

.globalFadeInFadeOut-enter-active,
.globalFadeInFadeOut-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.globalFadeInFadeOut-enter-from,
.globalFadeInFadeOut-leave-to {
  opacity: 0;
}
